.App_ {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
  margin: auto;
}
.card {
  width: 300px;
  background-color: turquoise;
  margin: 1rem;
  border-radius: 5px;
}
.card_title {
  text-align: center;
}
/* records */

.record_main {
  background-color: aqua;
  display: flex;
}

.new_main {
  background-color: burlywood;
  display: flex;
  flex-direction: row;
}
/* pic */
.pic_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  margin: auto;
}
.pic {
  position: relative;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 2rem 0.5rem;
  /* box-shadow: inset 0 0 10px; */
  border-radius: 5px;
}
.pic img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.pic_overlay {
  border-radius: 5px;
  color: black;
  background-color: bisque;
  position: absolute;
  /* bottom: 7px; */
  top: 62px;
  left: 0;
  /* bottom: 0; */
  text-align: start;
  width: 100%;
  height: 100%;
  /* margin: 0 0.25rem; */
  opacity: 0;
  transition: ease-in 1s;
}
.pic_overlay:hover {
  opacity: 1;
  cursor: pointer;
}
.pic_desc {
  padding: 25px 15px;
}
